accelerate==1.12.0
bitsandbytes @ file:///workspace/bitsandbytes
causal_conv1d @ git+https://github.com/Dao-AILab/causal-conv1d.git@22a4577d8ace9d5703daea91a7fb56695492152b
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cmake==4.2.0
einops==0.8.1
filelock==3.20.0
flash_attn @ git+https://github.com/Dao-AILab/flash-attention.git@0d1ad61b7f779008b21ffb9efeff97e1e684f8bc
fsspec==2025.12.0
gemlite @ git+https://github.com/mobiusml/gemlite.git@cbbdec49974dd8f05c64367b81725a40a786b49f
hf-xet==1.2.0
hqq @ git+https://github.com/mobiusml/hqq.git@e0b1d00e095653359da9de1d7dbb35a994aa6b96
hqq_aten==0.0.0
huggingface-hub==0.36.0
idna==3.11
Jinja2==3.1.6
liger_kernel @ git+https://github.com/linkedin/Liger-Kernel.git@720cc68486ca82bd2922813434a539ec047fdb9f
mamba_ssm @ git+https://github.com/state-spaces/mamba.git@35e927b20fd674f0b30a799a6408b7aac6ffe642
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.6
ninja==1.13.0
numpy==2.3.5
packaging==25.0
psutil==7.1.3
pycparser==2.23
PyYAML==6.0.3
regex==2025.11.3
requests==2.32.5
safetensors==0.7.0
setuptools==80.9.0
six==1.17.0
sympy==1.14.0
termcolor==3.2.0
tokenizers==0.22.1
torch @ file:///workspace/pytorch
torchao @ git+https://github.com/pytorch/ao.git@51fd90e50dd42deb9556b3519c41106e76f689ab
tqdm==4.67.1
transformers==4.57.3
triton==3.5.1
typing_extensions==4.15.0
urllib3==2.6.0
wheel==0.45.1
